@import "./../../scss/variables";

.nav_top {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: $top_nav_height;
    position: fixed;
    border-bottom: 0.12rem solid $border_color;
    z-index: 100;
}

.search_box {
    display: flex;
    height: 60%;
    width: 15rem;
    margin: 0 1rem;
    margin-left: auto;
    border: $border_width solid $border_color;
    border-radius: 8px;
    align-items: center;

    input {
        border: none;
        height: 90%;
        width: auto;
    }

    img {
        object-fit: contain;
        height: 40%;
        margin: 0 1rem;
    }
}
